body{
    margin: inherit;
}
#container{
    background-color: black;
    color: white;
    text-decoration: none; /*para quitar subrayado*/
}
#fondoentrada{
    background-image: url("../imagenes/fondoinicio.jpg");
    color: #1ab0ff;
    background-size: cover;
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 50px;
}
.posicion{
    height: 600px;
    padding-top: 50px;
    padding-left: 70px;
    padding-right: 30px;
    color: white;
}
#partemedia{
    margin-left: 50px;
}
#bibliografia ul li a{
    color: white;
    text-decoration: none;
}
#bibliografia{
    margin-left: 50px;
}
#partebaja{
    background-image: url("../imagenes/texture-1893783_1920.jpg");
    background-size: cover;
    color: white;
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 50px;
}
#partebaja p a{
    color: white;
}
#segueix ul li a{
    color: white;
    text-decoration: none;
}
#img1 p a{
    color: white;
    text-decoration:none;
}
#img1 li a{
    color: white;
    text-decoration:none;
}
#img2 p a{
    color: white;
    text-decoration:none;
}
#img2 li a{
    color: white;
    text-decoration:none;
}
#img3 p a{
    color: white;
    text-decoration:none;
}
#img3 li a{
    color: white;
    text-decoration:none;
}
h1{
    color: white;
    text-align: center;
    margin: inherit;
}
.top3 {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
}
.top3 img {
    border-radius: 30px;
}
#menu ul li{
    width: 100px; /*ancho*/
    float: center; /*flotar a la izquierda*/
    list-style: none; /*para quitar los puntos a los li*/
    justify-content: center;
}
#menu ul li a{
    text-decoration: none; /*para quitar subrayado*/
    color: #fff;

}
#menu ul{
    padding-top: 50px;
    padding-left: 70px;
    padding-right: 30px;
    display: flex;
    justify-content: center;

}
#menu ul li a:hover{
    color: #f73471;
}